@model IEnumerable<CarFinder.Models.Car>

@{
    ViewBag.Title = "Car Search";
    ViewBag.Menu = "CarSearch2";
}

<section class="section colored-wrapper">
    <div class="container">
        <div class="wrapper-2">
            <div class="row">
                <div class="col-md-9 content-wrapper">
                    <h4><span>@ViewBag.Title</span></h4>
                </div>
                <div class="col-md-3 text-right">
                    <a href="@Url.Action("Index","CarSearch2")">Start New Search</a>
                </div>
            </div>
        </div>

        <div class="wrapper-2">

            <form method="post" id="form" class="carfinderForm" action="@Url.Action("Index","CarSearch2")">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-2 inline-dropdown">
                            <div>Years</div><br />
                            @Html.DropDownList("year", null, "Select Year", htmlAttributes: new { @id = "yearList" })
                        </div>
                        <div class="col-xs-12 col-md-3 inline-dropdown">
                            <div>Make</div><br />
                            @Html.DropDownList("make", null, "Select Make", htmlAttributes: new { @id = "makeList" })
                        </div>
                        <div class="col-xs-12 col-md-3 inline-dropdown">
                            <div>Model</div><br />
                            @Html.DropDownList("model", null, "Select Model", htmlAttributes: new { @id = "modelList" })
                        </div>
                        <div class="col-xs-12 col-md-4 inline-dropdown">
                            <div>Trim</div><br />
                            @Html.DropDownList("trim", null, "Select Trim", htmlAttributes: new { @id = "trimList" })
                        </div>
                    </div>
                </div>
            </form>

            <table id="carTable2">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Trim</th>
                        <th>Year</th>
                        <th>Body Style</th>
                        <th>Num Cyl</th>
                        <th>HP</th>
                        <th>Drive Type</th>
                        <th>Seats</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</section>
@section scripts{
    <script>
        var year, make, model, trim;
        $('#yearList').change(function () {
            year = $('#yearList').val();
            $('#makeList').empty();
            $.getJSON('/CarSearch2/Make_by_Year', {year}, function (data) {
                $.each(data, function (i, obj) {
                    $('#makeList').append(
                        $('<option></option>').text(obj["Text"]));
                });
            });
            $('#modelList').empty();
            $('#trimList').empty();
            $('#carTable2').dataTable().api().draw();
        });

        $('#makeList').change(function () {
            make = $('#makeList').val();
            $('#modelList').empty();
            $.getJSON('/CarSearch2/Model_by_Year_Make',{year, make}, function(data) {
                $.each(data, function (i, obj) {
                    $('#modelList').append(
                        $('<option></option>').text(obj["Text"]));
                });
            });
            $('#trimList').empty();
            $('#carTable2').dataTable().api().draw();
        });

        $('#modelList').change(function () {
            model = $('#modelList').val();
            $('#trimList').empty();
            $.getJSON('/CarSearch2/Trims_by_Year_Make_Model', { year, make, model }, function (data) {
                $.each(data, function (i, obj) {
                    $('#trimList').append(
                        $('<option></option>').text(obj["Text"]));
                });
            });
            $('#carTable2').dataTable().api().draw();
        });

        $('#trimList').change(function () {
            $('#carTable2').dataTable().api().draw();
        });
            

        $('#carTable2').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "/CarSearch2/GetCars",
                "type": "Post",
                "data": function (d) {
                    d.year = $('#yearList').val();
                    d.make = $('#makeList').val();
                    d.model = $('#modelList').val();
                    d.trim = $('#trimList').val();
                }
            },
            "columns": [
                { "data": "id", "visible": false },
                { "data": "make" },
                { "data": "model_name" },
                { "data": "model_trim" },
                { "data": "model_year" },
                { "data": "body_style" },
                { "data": "engine_num_cyl" },
                { "data": "engine_power_ps" },
                { "data": "drive_type" },
                { "data": "seats" }
            ]
        });
    </script>
}