@model CarFinder.Models.Car
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>@Model.model_year</div>
<div>@Model.make</div>
<div>@Model.model_name</div>
<div>@Model.model_trim</div>
<div>@Model.body_style</div>
<div></div>
