@model IEnumerable<CarFinder.Models.Car>

@{
    ViewBag.Title = "Car Search";
    ViewBag.Menu = "CarSearch";
}

<section class="section colored-wrapper">
    <div class="container">
        <div class="wrapper-2">
            <div class="row">
                <div class="col-md-9 content-wrapper">
                    <h4><span>@ViewBag.Title</span></h4>
                </div>
                <div class="col-md-3 text-right">
                    <a href="@Url.Action("Index","CarSearch")">Start New Search</a>
                </div>
            </div>
        </div>

        <div class="wrapper-2">


            <form method="post" id="form" class="carfinderForm" action="@Url.Action("Index","CarSearch")">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-2 inline-dropdown">
                            <div>Years</div><br />
                            @Html.DropDownList("year", null, "Select Year", htmlAttributes: new { @id = "yearList" })
                        </div>

                        @if (ViewBag.Make != null) {
                            <div class="col-xs-12 col-md-3 inline-dropdown">
                                <div>Make</div><br />
                                @Html.DropDownList("make", null, "Select Make",htmlAttributes: new { @id = "makeList" })
                            </div>
                }
                        @if (ViewBag.Model != null) {
                            <div class="col-xs-12 col-md-3 inline-dropdown">
                                <div>Model</div><br />
                                @Html.DropDownList("model", null, "Select Model", htmlAttributes: new { @id = "modelList" })
                            </div>
                        }
                        @if (ViewBag.Trim != null) {
                            <div class="col-xs-12 col-md-4 inline-dropdown">
                                <div>Trim</div><br />
                                @Html.DropDownList("trim", null, "Select Trim", htmlAttributes: new { @id = "trimList" })
                            </div>
                        }
                    </div>
                </div>
            </form>

            <table id="carTable" class="carFinderTable table-responsive">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.model_year)</th>
                        <th>@Html.DisplayNameFor(m => m.make)</th>
                        <th>@Html.DisplayNameFor(m => m.model_name)</th>
                        <th>@Html.DisplayNameFor(m => m.model_trim)</th>
                        <th>@Html.DisplayNameFor(m => m.body_style)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var car in Model) {
                        <tr>
                            <td>
                                <a href="@Url.Action("Details", "CarSearch", new { id = car.id })">
                                    @car.model_year
                                </a>
                            </td>
                            <td>
                                <a href="@Url.Action("Details", "CarSearch", new { id = car.id })">
                                    @car.make
                                </a>
                            </td>
                            <td>
                                <a href="@Url.Action("Details", "CarSearch", new { id = car.id })">
                                    @car.model_year
                                </a>
                            </td>
                            <td>
                                <a href="@Url.Action("Details", "CarSearch", new { id = car.id })">
                                    @car.model_trim
                                </a>
                            </td>
                            <td>
                                <a href="@Url.Action("Details", "CarSearch", new { id = car.id })">
                                    @car.body_style
                                </a>
                            </td>
                        </tr>
            }
                </tbody>

            </table>
        </div>
    </div>
</section>
@section scripts{
    <script>
        $(document).ready(function () {
            var year, make, model, trim;
            $('#yearList').change(function () {
                $('#makeList').empty();
                $('#modelList').empty();
                $('#trimList').empty();
                $('#form').submit();
            });
            var year, make, model, trim;
            $('#makeList').change(function () {
                $('#modelList').empty();
                $('#trimList').empty();
                $('#form').submit();
            });
            var year, make, model, trim;
            $('#modelList').change(function () {
                $('#trimList').empty();
                $('#form').submit();
            });
            var year, make, model, trim;
            $('#trimList').change(function () {
                $('#form').submit();
            });
            $('#carTable').DataTable();
        });
    </script>
}